*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    font-weight: bold;
}
a:hover{
    color: rgb(90, 153, 255);
    transition: 0.2s ease;
}
a:hover:after{
    width: 100%;
}
.sub1{
    display: none;  
}
.nav ul li{
    width: 140px;
    margin-top: 5%;
}
.nav ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.nav{
    text-align: center;
    background: #dfdfdf;
}
.nav img{
    height: 18vh;
}
#Video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(60%);
}
.nav .fa{
    margin-left: 8px;
}
.nav ul li:hover .sub1{
    display: block;
    background: #dfdfdf;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    z-index: 1;
    border-radius: 3px;
}
.nav ul li:hover .sub1 ul{
    display: block;
    margin: 10px;
    transition: 0.5s ease;
}
.tagline h1{
    color: #dfdfdf;
    text-align: center;
    margin-top: -45%;
    position: relative;
    font-size: 200px;
}
.tagline h2{
    color: #dfdfdf;
    text-align: center;
    margin-top: -2%;
    position: relative;
    font-size: 30px;
}
.bttn{
    width: 150px;
    position: relative;
    margin-top: 2%;
    padding: 5px;
    margin-left: 45%;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: rgb(90, 153, 255);
    border: 3px solid rgb(90, 153, 255);
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
}
.bttn:hover{
    border: 3px solid rgb(90, 153, 255);
    background: transparent;
    transition: 0.5s ease;
}
.sub2{
    display: none;  
}
.nav ul li:hover .sub2{
    display: block;
    background: #dfdfdf;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    z-index: 1;
}
.nav ul li:hover .sub2 ul{
    display: block;
    margin: 10px;
}
.Biography h1{
    font-family:'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: -50%;
}
.Biography h2{
    color: black;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.Biography img{
    filter: opacity(15%);
    background-size: cover;
    width: 100%;
    margin-top: 16%;
}
.Slider{
    width: 70%;
    height: 600px;
    margin-left: 0%;
    margin-top: 10%;
    animation:slider 9s infinite linear;
    background-image: url(./Images/Vietnam1.jpg);
    background-size: 100% 100%;
    filter: opacity(100%);
}
@keyframes slider{
    30%{background-image: url(./Images/viet2.jpg); background-size: 100% 100%;}

    60%{background-image: url(./Images/vn.jpg); background-size: 100% 100%;}

    90%{background-image: url(./Images/viet.jpg) ;background-size: 100% 100%;}
}
.Box1{
    height: 2em;
    width: 100%;
    margin-top: 8%;
    background-color: rgb(90, 153, 255);
}
.Circle{
    width: 580px;
	height: 40em;
    margin-left: 37%;
    margin-top: -40%;
	transform: skew(20deg);
	background: #fff;
    z-index: -1;
}
.VietnamTours{
   margin-top: 10%;
   position: relative;
   z-index: 1;
   margin-left: 5%;
}
.VietnamTours h1{
    font-size: 2em;
    margin-left: 34%;
}
.VietnamTours h2{
    font-size: 2em;
    margin-left: 27%;
}
.VietnamTours h3{
    font-size: 1em;
    margin-left: 50%;
    margin-top: 1%;
    color: rgb(90, 153, 255);
}
.VietnamTours h4{
    padding-right: 15%;
    margin-left: 50%;
    margin-top: 2%;
}
.VietnamTours h5{
    padding-right: 20%;
    margin-left: 50%;
    margin-top: 2%;
}
.VietnamTours h6{
    margin-left: 60%;
    margin-top: -1.7%;
    font-size: 13px;
}
.VietnamTours p{
    margin-left: 50%;
    margin-top: 1%;
    font-size: 15px;
    font-weight: bold;
}
.button1{
    width: 100px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-left: 49%;
    margin-top: 2%;
    background: rgb(90, 153, 255);
    border: 3px solid rgb(90, 153, 255);
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
}
.button1:hover{
    border: 3px solid rgb(90, 153, 255);
    color: rgb(90, 153, 255);;
    background: transparent;
    transition: 0.5s ease;
}
.banners{
    margin-top: 10%;
    margin-left: 3.5%;
}
.banners img{
    height: 45vh;
    width: 41.5%;
    filter:grayscale(100%);
    transition: 1s; 
}
.banners img:hover{
    transform: scale(1.1);
    transition: 1s;
    filter: saturate(100%);
}
.banners h1{
    margin-top: -20%;
    font-size: 5em;
    color:#fff;
    margin-left: 10%;
}
.banners1{
    margin-top: -10.4%;
    margin-left: 40%;
}
.banners1 img{
    height: 45vh;
    width: 69%;
    filter:grayscale(100%);
    transition: 1s; 
    margin-top: -23%;
    margin-left: 13.3%;
}
.banners1 img:hover{
    transform: scale(1.1);
    transition: 1s;
    filter: saturate(100%);
}
.banners1 h1{
    margin-top: -20%;
    font-size: 5em;
    color:#fff;
    margin-left: 10%;
}
.Explore
{
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -5%;
}
.banners2 img{
    height: 45vh;
    width: 40%;
    filter:grayscale(100%);
    transition: 1s; 
    margin-left: 5%;
    margin-top: 1%;
}
.banners2 img:hover{
    transform: scale(1.1);
    transition: 1s;
    filter: saturate(100%);
}
.banners3 img{
    height: 45vh;
    width: 40%;
    position: absolute;
    filter:grayscale(100%);
    transition: 1s; 
    margin-left: 46%;
    margin-top: -23%;
}
.banners3 img:hover{
    transform: scale(1.1);
    transition: 1s;
    filter: saturate(100%);
}
.Exploreimgs{
    margin-left: 4%;
}
.footerbar{
        height: 30%;
        width: 100%;
        background-color:#dfdfdf;
        position: absolute;
        margin-top: 8%;
        margin-left: -4%;
}
.footerbar2{
    height: 5%;
        width: 100%;
        background-color: rgb(90, 153, 255);
        margin-left: -4%;
        margin-top: 22%;
        position: absolute;
}
.fa-facebook{
    width: 40px;
    height: 40px;
    padding: 13.5px;
    padding-left: 15px;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 5%;
    background-color: #fff;
  }
.fa-google {
    width: 40px;
    height: 40px;
    padding: 12px;
    color: black;
    margin-left: 2%;
    padding-left: 13px;
    border-radius: 50%;
    background-color: #fff;
  }
  .fa-google:hover{
      color: #f3610c;
  }
  .fa-pinterest {
    width: 40px;
    height: 40px;
    padding: 12px;
    color: black;
    margin-left: 2%;
    padding-left: 13px;
    border-radius: 50%;
    background-color: #fff;
  }
  .fa-pinterest:hover{
    color: #dd4b39;
}
.fa-skype {
    width: 40px;
    height: 40px;
    padding: 12px;
    color: black;
    margin-left: 2%;
    padding-left: 13px;
    border-radius: 50%;
    background-color: #fff;
  }
  .fa-skype:hover{
    color: #00a6d8;
}
.fa-twitter {
    width: 40px;
    height: 40px;
    padding: 12px;
    color: black;
    margin-left: 2%;
    padding-left: 13px;
    border-radius: 50%;
    background-color: #fff;
  }
  .fa-twitter:hover{
    color: #0081d6;
}
.footerbar h1{
    text-align: center;
    margin-top: 1%;
    font-size: 15px;
    margin-left: 4%;
}
.bg img{
    height: 70vh;
    float: right;
    background-size: cover;
    position: relative;
    z-index: -2;
    margin-top: -30%;
}
.squarehalved{
    width: 580px;
	height: 40em;
    margin-left: 4%;
	transform: skew(20deg);
	background: #fff;
    position: relative;
    z-index: -1;
    margin-top: -31%;
}
.info h1{
    font-size: 1em;
    margin-left: 37.5%;
    margin-top: -8%;

}
.squarelinks{
    width: 100%;
	height: 9em;
    margin-top: -14%;
	background: rgb(233, 233, 233);
}
.footerbar3{
    height: 2%;
        width: 100%;
        background-color: rgb(90, 153, 255);
        margin-left: 0%;
        margin-top: 6%;
        position: absolute;
}
.Title h1{
    font-size: 5em;
    margin-top: 10%;
    margin-left: 4%;
}
.Title span{
    color: rgb(226, 32, 32);
}
.Map img{
    margin-top: 2%;
    margin-left: 5%;
}
.Map h1{
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    text-align: justify;
}
.Map h2{
    margin-top: -25%;
    margin-left: 44%;
    font-size: 20px;
    margin-right: 4%;
    text-align: justify;
}
.Map h3{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
    text-align: justify;
}
.img1 img{
    height: 90vh;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}
.Map h4{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
}
.Map h5{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 5%;
}
.Map h6{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
}
.Map h6 span{
    font-size: 2em;
}
.content h1{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
}
.content h2{
    font-size: 2em;
    margin-left: 5%;
    margin-top: 5%;
}
.content h3{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 5%;
}
.Leaders img{
    height: 90vh;
    width: 70%;
    margin-left: 15%;
    margin-top: -10%;
}
.Leaders h1{
    margin-top: 10%;
    margin-left: 5%;
    padding-bottom: 15%;
    font-size: 2em;
    text-align: center;
}
.Leaders h2{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 20px;
    margin-right: 5%;
    text-align: justify;
    padding-bottom: 5%;
}
.videocontainer video {
    width: 30%;
    height: 25vh;
    display: block;
    cursor: pointer;
}
.imgcontainter img{
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.title{
    margin-top: 3%;
}
.title h1{
    margin-top: -45%;
    margin-left: 65%;
    font-size: 4em;
    color: white;
}
.title h2{
    margin-top: 1%;
    margin-left: 65%;
    font-size: 2em;
    color: white;
}
.title h3{
    margin-top: 1%;
    margin-left: 65%;
    font-size: 1.5em;
    color: white;
}
.imgcontainer2{
    margin-left: 10%;
    margin-top: -47%;
}
.Destinations{
    text-align: center;
    font: 3em;
    color: black;
    text-transform: uppercase;
    margin-top: 25%;
}
.Destinationsimgs{
    margin-left: 10%;
}
.halongbay{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
    padding-right: 3%;
}
.halongbay:hover{
    transform: scale(1.1);
    transition: 1s;
}
.hochi{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
    padding-right: 3%;
}
.hochi:hover{
    transform: scale(1.1);
    transition: 1s;
}
.imperial{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
}
.imperial:hover{
    transform: scale(1.1);
    transition: 1s;
}
.myson{
    height: 30vh;
    width: 29%;
    margin-top: 5%;
    transition: 1s;
    padding-right: 3%;
}
.myson:hover{
    transform: scale(1.1);
    transition: 1s;
}
.phong{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
    padding-right: 3%;
}
.phong:hover{
    transform: scale(1.1);
    transition: 1s;
}
.hoi{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
}
.hoi:hover{
    transform: scale(1.1);
    transition: 1s;
}
.hanoi{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
    padding-right: 3%;
}
.hanoi:hover{
    transform: scale(1.1);
    transition: 1s;
}
.trang{
    height: 30vh;
    margin-top: 5%;
    width:29%;
    transition: 1s;
    padding-right: 3%;
}
.trang:hover{
    transform: scale(1.1);
    transition: 1s;
}
.sapa{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
}
.sapa:hover{
    transform: scale(1.1);
    transition: 1s;
}
.delta{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
    padding-right: 3%;
}
.delta:hover{
    transform: scale(1.1);
    transition: 1s;
}
.babe{
    height: 30vh;
    margin-top: 5%;
    width:29%;
    transition: 1s;
    padding-right: 3%;
}
.babe:hover{
    transform: scale(1.1);
    transition: 1s;
}
.chuchin{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
}
.chuchin:hover{
    transform: scale(1.1);
    transition: 1s;
}
.quy{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
    padding-right: 3%;
}
.quy:hover{
    transform: scale(1.1);
    transition: 1s;
}
.fukian{
    height: 30vh;
    margin-top: 5%;
    width:29%;
    transition: 1s;
    padding-right: 3%;
}
.fukian:hover{
    transform: scale(1.1);
    transition: 1s;
}
.anbang{
    height: 30vh;
    margin-top: 5%;
    transition: 1s;
}
.anbang:hover{
    transform: scale(1.1);
    transition: 1s;
}
.footerbar4{
    height: 30%;
    width: 100%;
    background-color:#dfdfdf;
    position: absolute;
    margin-top: 8%;
}
.footerbar5{
    height: 5%;
    width: 100%;
    background-color: rgb(90, 153, 255);
    margin-top: 22%;
    position: absolute;
}
.footerbar4 h1{
    text-align: center;
    margin-top: 1%;
    margin-left: 4%;
    font-size: 15px;
}
.history{
    height: 70vh;
    float: right;
    background-size: cover;
    position: relative;
    z-index: -2;
    width: 63%;
    margin-top: -30%;
}
.historyimg{
    height: 50vh;
}
.exotic{
    width: 65%;
}
.exoticfoods h1{ 
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    padding-bottom: 10%;
    text-align: justify;
}
.exoticfoods h2{
    margin-top: -31%;
    margin-left: 31%;
    font-size: 1.5em;
    margin-right: 10%;
    padding-bottom: 10%;
    text-align: justify;
}
.duong{
    margin-left: 5%;
    height: 60vh;
    margin-top: -5%;
}
.mamtom{
    height: 50vh;
    margin-left: 5%;
    margin-top: 5%;
}
.exoticfoods1 h1{
    margin-left: 5%;
}
.exoticfoods1 h2{
    margin-top: -26%;
    margin-left: 32%;
    margin-right: 10%;
}
.tiet{
    height: 60vh;
    margin-left: 5%;
    margin-top: 5%;
}
.exoticfoods2 h1{
    margin-top: 5%;
    margin-left: 5%;
}
.exoticfoods2 h2{
    margin-top: -31%;
    margin-left: 32%;
    margin-right: 10%;
}
.cha{
    height: 50vh;
    margin-left: 5%;
    margin-top: 5%;
}
.exoticfoods3 h1{
    margin-top: 5%;
    margin-left: 5%;
}
.exoticfoods3 h2{
    margin-top: -26%;
    margin-left: 32%;
    margin-right: 10%;
}
.sasung{
    height: 40vh;
    margin-left: 5%;
    margin-top: 5%;
}
.exoticfoods4 h1{
    margin-top: 5%;
    margin-left: 5%;
}
.exoticfoods4 h2{
    margin-top: -21%;
    margin-left: 35%;
    margin-right: 10%;
    padding-bottom: 5%;
}
.streetfoods{
    width: 85%;
}
.streetfoods h1{ 
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    padding-bottom: 10%;
    text-align: justify;
}
.streetfoods h2{
    margin-top: -22%;
    margin-left: 40%;
    font-size: 1.5em;
    margin-right: 5%;
    padding-bottom: 10%;
    text-align: justify;
}
.strt1{
    margin-left: 5%;
    height: 35vh;
    margin-top: -5%;
}
.strt2{
    height: 35vh;
    margin-left: 5%;
    margin-top: -5%;
}
.streetfoods2{
    width: 85%;
    margin-top: -13%;
}
.streetfoods2 h1{ 
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    padding-bottom: 10%;
    text-align: justify;
}
.streetfoods2 h2{
    margin-top: -22%;
    margin-left: 40%;
    font-size: 1.5em;
    margin-right: 5%;
    padding-bottom: 10%;
    text-align: justify;
}
.streetfoods3{
    width: 85%;
    margin-top: -13%;
}
.streetfoods3 h1{ 
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    padding-bottom: 10%;
    text-align: justify;
}
.streetfoods3 h2{
    margin-top: -19%;
    margin-left: 40%;
    font-size: 1.5em;
    margin-right: 5%;
    padding-bottom: 10%;
    text-align: justify;
}
.strt3{
    height: 30vh;
    margin-left: 5%;
    margin-top: -5%;
}
.streetfoods4{
    width: 85%;
    margin-top: -13%;
}
.streetfoods4 h1{ 
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    padding-bottom: 10%;
    text-align: justify;
}
.streetfoods4 h2{
    margin-top: -16%;
    margin-left: 40%;
    font-size: 1.5em;
    margin-right: 5%;
    padding-bottom: 10%;
    text-align: justify;
}
.strt4{
    height: 25vh;
    margin-left: 5%;
    margin-top: -5%;
}
.streetfoods5{
    width: 85%;
    margin-top: -13%;
}
.streetfoods5 h1{ 
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    padding-bottom: 10%;
    text-align: justify;
}
.streetfoods5 h2{
    margin-top: -19%;
    margin-left: 40%;
    font-size: 1.5em;
    margin-right: 5%;
    padding-bottom: 10%;
    text-align: justify;
}
.strt5{
    height: 30vh;
    margin-left: 5%;
    margin-top: -5%;
}
.culture{
    height: 40vh;
}
.Culture img{
    margin-top: 2%;
    margin-left: 5%;
}
.Culture h1{
    margin-top: 15%;
    margin-left: 5%;
    font-size: 2em;
    text-align: justify;
}
.Culture h2{
    margin-top: -20%;
    margin-left: 40%;
    font-size: 20px;
    margin-right: 4%;
    text-align: justify;
}
.Culture h3{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 2%;
    text-align: justify;
}
.Culture h4{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
}
.Culture h5{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 5%;
}
.Culture h6{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
}
.Culture h6 span{
    font-size: 2em;
}
.content h1{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
}
.content h2{
    font-size: 2em;
    margin-left: 5%;
    margin-top: 5%;
}
.content h3{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 3%;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 5%;
}
.img1{
    margin-left: 10%;
}